.header__container {
  margin: 0 auto;
}

.header__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid $border-color;
}

.header__navigation {
  &--close {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header__navigation {
    &--close {
      display: block;
    }
  }

  .header__block {
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .header__block {
    justify-content: flex-start;
    border: none;
  }

  .header__navigation {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    align-items: center;
  }

  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
