.main-nav__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  padding: 25px;
  border-bottom: 1px solid $border-color;
  font-size: 18px;
}

.main-nav__item-link {
  text-decoration: none;
  color: $main-font-color;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-right: auto;
  }

  .main-nav__list {
    margin: 0;
  }

  .main-nav__item {
    font-size: 13px;
    border: none;
    padding: 15px;

    &--active {
      border-bottom: 1px solid $active-color;
    }
  }

  .main-nav__item-link {
    &:active,
    &:focus,
    &:hover {
      color: $active-color;
    }
  }
}
