html {
  box-sizing: border-box;
  outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 28px;
  font-family: $main-font;
  color: $main-font-color;

  background-color: $main-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1040px;
}

a,
input + label,
button {
  cursor: pointer;
}

@media (min-width: $desktop-width) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
  }
  
  .container {
    padding: 0 30px;
  }
}
