.security-content__step-title {
  margin: 0;
  margin-bottom: 40px;
}

.security-content__action-form {
  margin-bottom: 20px;
}

.security-content__action-block {
  border: none;
  padding: 0;
  margin: 0 auto;
}

.security-content__action-description {
  margin-bottom: 40px;
}

.security-content__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.security-content__input {
  width: 45px;
  height: 55px;
  background-color: transparent;
  border: 1px solid $border-color;
  text-align: center;
  font-size: 26px;
  color: $active-font-color;
  font-family: inherit;

  &:not(:last-child) {
    margin-right: 7px;
  }

  &::placeholder {
    padding: 0 12px;
    font-size: 26px;
    color: $active-font-color;
    font-family: inherit;
  }
}

.security-content__correct-indicator {
  margin-bottom: 60px;
}

.security-content__indicator-text {
  color: $success-color;
  margin: 0;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 25px;
    height: 11px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .security-content__step-title {
    color: $second-font-color;
    margin-bottom: 5px;
  }

  .security-content__input {
    width: 45px;
    padding: 0 12px;
    font-size: 32px;

    &::placeholder {
      padding: 0;
      font-size: 32px;
    }

    &:active,
    &:focus {
      border-color: $active-color;
    }

    &:hover {
      border-color: $main-font-color;
    }
  }
}
