.social {
  margin-bottom: 20px;
}

.social__list {
  @include list-reset();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social__item {
  &:not(:last-child) {
    margin-right: 15px;
  }

  svg {
    width: 30px;
    height: 30px;
    fill: $second-font-color;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-bottom: 0;
  }

  .social__link {
    &:active,
    &:focus,
    &:hover {
      svg {
        fill: $active-color;
      }
    }
  }

  // .social__item {
  //   &:active,
  //   &:focus,
  //   &:hover {
  //     svg {
  //       fill: $active-color;
  //     }
  //   }
  // }
}
