.user-nav__ballance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  border-bottom: 1px solid $border-color;
}

.user-nav__ballance-count {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 15px;
    height: 10px;
    background-image: url("../img/D-like-logo.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .user-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .user-nav__ballance-count {
    margin-left: 20px;
    margin-right: 20px;
  }

  .user-nav__ballance {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .user-nav__ballance {
    font-size: 13px;
  }

  .user-nav__ballance-count {
    font-size: 16px;
  }
}