.user-buttons {
  @include list-reset();
}

.user-button {
  padding: 20px;
  border-bottom: 1px solid $border-color;
  text-align: center;

  &--action {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.user-button__ico {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}