@mixin font-bold() {
  font-family: $opensans;
  font-weight: bold;
}

@mixin font-medium() {
  font-family: $opensans;
  font-weight: 500;
}

@mixin font-reg() {
  font-family: $opensans;
  font-weight: normal;
}

@mixin title() {
  font-family: $font-oswald;
  color: $font-black;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

@mixin list-reset() {
  list-style: none;
  padding: 0;
}
