$tablet-width: 768px;
$desktop-width: 1300px;
$main-font-color: #dcdcdc;
$second-font-color: #959595;
$main-color: #131313;
$border-button-color: #1eb7ed;
$active-color: #38b1dc;
$active-font-color: #ffffff;
$success-color: #25d083;
$border-color: #444444;
$main-font: "Lato", arial, sans-serif;


